body{
  font-family: 'Electrolize';
}

#connection_msg{
  font-size: 25px;
}

#admin_title{
  text-decoration: underline;
  font-size: 21px;
  font-style: bold;
}

#admin_information{
  font-size: 16px;
}

#admin_TITLE{
  text-align: center;
  font-size: 22px;
}
